
h1{
    padding-left: 10px;
    padding-top: 20px;
    font-size: 2rem;
    font-weight: 700;

     

 };

 h4 {
    font-weight: 500;
    

 }

 h6{
    font-weight: 700;

 }

 .button-edit {
    color:white; 
    background-color: #1976D2;

 }